<div class="footer">
    <h2 class="footer__title">Otus. C# Pro Developer</h2>
    <div class="footer__bottom">
        <p class="footer__text"><span class="footer__text-names">Room6 team</span> &copy; 2023</p>
        <a href="https://github.com/d2cTool/Room6" class="footer__link">Github</a>
    </div>
</div>
