<div class="nav">
    <nav class="nav__items">
        <a href="NavTab#project" class="nav__item">О проекте</a>
        <a href="NavTab#techs" class="nav__item">Технологии</a>
        <a href="NavTab#students" class="nav__item">Студенты</a>
    </nav>
</div>
