<div class="about" id="project">
    <div class="about__content">
        <h2 class="about__title">О проекте</h2>
        <ul class="about__items">
            <li class="about__item">
                <h3 class="about__item-title">Дипломный проект состоял из 5 этапов</h3>
                <p class="about__item-text">
                    Выбор темы, составление плана, работа над бэкендом и фронтендом, добавление
                    функциональности и финальные доработки.
                </p>
            </li>
            <li class="about__item">
                <h3 class="about__item-title">На выполнение диплома ушло более 10 недель</h3>
                <p class="about__item-text">
                    В конце каждого спринта проводились ретроспективы на которых обсуждался ход выполнения дипломной работы.
                </p>
            </li>
        </ul>
    </div>
</div>