<div class="promo">
    <h1 class="promo__title"> Учебный проект студентов курса Otus. C#&nbsp;Developer. Professional </h1>
    <img src="images/promo.svg" class="promo__image" alt="Картинка промо"/>
</div>
