<div class="about-student" id="students">
    <div class="about-student__content">
        <h2 class="about-student__title">Студенты</h2>
        <div class="about-student__student">
            <div class="about-student__student-text-wrapper">
                <div class="about-student__student-text">
                    <p class="about-student__student-name">Вячеслав</p>
                    <p class="about-student__student-work">Бэкенд-разработчик</p>
                    <p class="about-student__student-info">
                        Я&nbsp;живу в&nbsp;Санкт-Петербурге, закончил электротехнический факультет ПГУПС.
                        С&nbsp;2017 года работаю c# разработчиком. В&nbsp;настоящий момент работаю в&nbsp;компании Элисофт
                    </p>
                </div>
                <a href="https://github.com/d2cTool/"
                   target="_blank"
                   class="about-student__student-link"
                   rel="noreferrer">
                    Github
                </a>
            </div>
            <img src="images/slava.jpg" class="about-student__student-image" alt="Фотография студента" />
        </div>
        <div class="about-student__student">
            <div class="about-student__student-text-wrapper">
                <div class="about-student__student-text">
                    <p class="about-student__student-name">Александра</p>
                    <p class="about-student__student-work">Научный сотрудник</p>
                    <p class="about-student__student-info">
                        С недавнего времени живу в Краснодаре, удаленно работаю в Томском государственном университете.
                        Занимаюсь научными исследованиями по теме "Цифровая голография частиц" и разработкой ПО для гидробиологического зонда.
                    </p>
                </div>
                <a href="https://github.com/starinshikova"
                   target="_blank"
                   class="about-student__student-link"
                   rel="noreferrer">
                    Github
                </a>
            </div>
            <img src="images/Alexandra.jpg" class="about-student__student-image" alt="Фотография студента" />
        </div>
    </div>
</div>
