<div class="techs" id="techs">
    <h2 class="techs__title">Технологии</h2>
    <div class="techs__content">
        <h2 class="techs__content-title">5 технологий</h2>
        <p class="techs__subtitle">
            На курсе мы освоили технологии, которые применили в дипломном проекте.
        </p>
        <ul class="techs__items">
            <li class="techs__item">
                Blazor
            </li>
            <li class="techs__item">
                RabbitMQ
            </li>
            <li class="techs__item">
                PostgreSQL
            </li>
            <li class="techs__item">
                SignalR
            </li>
            <li class="techs__item">
                Git
            </li>
        </ul>
    </div>
</div>
